Repository letsgetit-hanwha-be15/be15-2nd-letsgetit-newbit, pull requests merged in 2025-05, with the labels that each got.

#591 Nbt 319 칼럼 시리즈 검색 기능 추가
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/controller/ColumnController.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/controller/SeriesController.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/domain/Column.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/domain/Series.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/dto/request/SearchCondition.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/repository/ColumnRepository.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/repository/SeriesRepository.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/service/ColumnService.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/service/SeriesService.java
Labels: feat

#596 [FE] NBT-321 프로필 드롭다운 컴포넌트 구현
  newbit-frontend/src/assets/image/arrow-icon.png
  newbit-frontend/src/components/common/Header.vue
  newbit-frontend/src/components/common/ProfileDropdown.vue
  newbit-frontend/src/features/mypage/components/MyPageSideBar.vue
Labels: feat

#597 Nbt 341 fe 칼럼 목록 조회 페이지 구현
  newbit-frontend/src/assets/image/heart-active.png
  newbit-frontend/src/assets/image/heart-default.png
  newbit-frontend/src/features/column/components/ColumnCard.vue
  newbit-frontend/src/features/column/router.js
  newbit-frontend/src/features/column/views/ColumnListView.vue
  newbit-frontend/src/router/index.js
Labels: feat

#610 Nbt 342 fe 칼럼 상세 조회 페이지 구현
  newbit-frontend/src/features/column/router.js
  newbit-frontend/src/features/column/views/ColumnDetailView.vue
Labels: feat

#618 [FE] NBT-322 회원 포인트 내역 view component router 구현
  newbit-frontend/src/components/common/ProfileDropdown.vue
  newbit-frontend/src/components/layout/MyPageLayout.vue
  newbit-frontend/src/features/mypage/components/HistoryItem.vue
  newbit-frontend/src/features/mypage/components/HistoryList.vue
  newbit-frontend/src/features/mypage/components/MyPageSideBar.vue
  newbit-frontend/src/features/mypage/router.js
  newbit-frontend/src/features/mypage/views/DiamondHistoryView.vue
  newbit-frontend/src/features/mypage/views/PointHistoryView.vue
Labels: feat

#621 [FE]NBT-369 회원 다이아 내역 페이지 구현
  newbit-frontend/package-lock.json
  newbit-frontend/package.json
  newbit-frontend/src/features/mypage/components/HistoryItem.vue
  newbit-frontend/src/features/mypage/components/HistoryList.vue
  newbit-frontend/src/features/mypage/views/DiamondHistoryView.vue
Labels: feat

#623 [FE] NBT-370 판매 내역 페이지 구현
  newbit-frontend/src/features/mypage/components/HistoryItem.vue
  newbit-frontend/src/features/mypage/components/HistoryList.vue
  newbit-frontend/src/features/mypage/router.js
  newbit-frontend/src/features/mypage/views/DiamondHistoryView.vue
  newbit-frontend/src/features/mypage/views/PointHistoryView.vue
  newbit-frontend/src/features/mypage/views/SaleHistoryView.vue
Labels: feat

#626 Nbt 343 fe 칼럼 요청 페이지 구현 등록 수정
  newbit-frontend/package-lock.json
  newbit-frontend/package.json
  newbit-frontend/src/assets/styles/styleguide.css
  newbit-frontend/src/features/column/components/ColumnCard.vue
  newbit-frontend/src/features/column/components/ColumnRequestForm.vue
  newbit-frontend/src/features/column/router.js
  newbit-frontend/src/features/column/views/ColumnDetailView.vue
  newbit-frontend/src/features/column/views/ColumnEditRequestView.vue
  newbit-frontend/src/features/column/views/ColumnRequestView.vue
  newbit-frontend/src/main.js
Labels: feat

#632 [FE] NBT-375 좋아요한 컨텐츠 페이지 구현
  newbit-frontend/src/features/mypage/components/MyPageSideBar.vue
  newbit-frontend/src/features/mypage/router.js
  newbit-frontend/src/features/mypage/views/LikedContentsView.vue
  newbit-frontend/src/features/mypage/views/MyContentsView.vue
Labels: feat

#633 [FE] NBT 37칼럼 상세 조회 페이지 구현(멘토용)
  newbit-frontend/src/features/column/views/ColumnDetailView.vue
Labels: feat

#637 Nbt 350 fe 칼럼 삭제 요청 모달 구현
  newbit-frontend/src/features/column/views/ColumnDetailView.vue
Labels: feat

#647 Nbt 345 fe 칼럼 요청 관리자용 페이지 구현
  newbit-frontend/src/features/admin/views/ColumnApprovalView.vue
  newbit-frontend/src/features/column/components/ColumnCard.vue
  newbit-frontend/src/features/column/views/ColumnListView.vue
Labels: feat, fix

#649 NBT-346 칼럼 요청 상세 조회 관리자용 페이지 구현
  newbit-frontend/src/features/admin/router.js
  newbit-frontend/src/features/admin/views/ColumnApprovalDetailView.vue
Labels: feat

#659 Nbt 344 fe 칼럼 요청 내역 페이지 구현
  newbit-frontend/src/features/mypage/router.js
  newbit-frontend/src/features/mypage/views/ColumnRequestHistoryView.vue
Labels: feat

#662 Nbt 388 fe pagingbar 공통 컴포넌트 생성
  newbit-frontend/src/components/common/PagingBar.vue
  newbit-frontend/src/features/mypage/components/HistoryList.vue
  newbit-frontend/src/features/mypage/views/DiamondHistoryView.vue
  newbit-frontend/src/features/mypage/views/PointHistoryView.vue
Labels: feat

#663 Nbt 352 fe 구매한 칼럼 페이지 구현
  newbit-frontend/src/features/column/components/ColumnCard.vue
  newbit-frontend/src/features/mypage/components/MyPageSideBar.vue
  newbit-frontend/src/features/mypage/router.js
  newbit-frontend/src/features/mypage/views/PurchasedColumnsView.vue
Labels: feat

#664 Nbt 387 fe 회원탈퇴 페이지 구현
  newbit-frontend/src/features/mypage/router.js
  newbit-frontend/src/features/mypage/views/AccountDeleteView.vue
Labels: feat

#665 feat: NBT-386 회원 정보 수정 페이지 구현
  newbit-frontend/src/features/mypage/views/AccountEditView.vue
Labels: feat

#668 Nbt 384 fe 프로필 수정 페이지 구현
  newbit-frontend/src/features/mypage/components/MyProfileEditForm.vue
  newbit-frontend/src/features/mypage/views/MyProfileEditView.vue
Labels: feat

#671 NBT-380 칼럼 이미지 첨부 url base64 인코딩
  newbit-frontend/src/features/column/components/ColumnRequestForm.vue
Labels: feat

#672 Nbt 385 fe 멘토 프로필 수정 페이지 구현
  newbit-frontend/src/features/mypage/components/MentorProfileEditForm.vue
  newbit-frontend/src/features/mypage/components/MyProfileEditForm.vue
  newbit-frontend/src/features/mypage/views/AccountEditView.vue
  newbit-frontend/src/features/mypage/views/MentorProfileEditView.vue
Labels: feat

#678 Nbt 347 fe 시리즈 목록 조회 페이지 구현
  newbit-frontend/src/features/column/components/ColumnCard.vue
  newbit-frontend/src/features/column/components/SeriesCard.vue
  newbit-frontend/src/features/column/router.js
  newbit-frontend/src/features/column/views/ColumnDetailView.vue
  newbit-frontend/src/features/column/views/ColumnListView.vue
  newbit-frontend/src/features/column/views/SeriesListView.vue
Labels: feat

#684 Nbt 395 fe 마이페이지 side bar 목록 수정 및 라우터 수정
  newbit-frontend/src/features/mypage/components/MyPageSideBar.vue
  newbit-frontend/src/features/mypage/router.js
  newbit-frontend/src/features/mypage/views/MyColumnsView.vue
  newbit-frontend/src/features/mypage/views/MyPostsView.vue
  newbit-frontend/src/features/mypage/views/MySeriesView.vue
  newbit-frontend/src/features/mypage/views/SubscribedSeriesView.vue
Labels: feat

#696 Nbt 348 fe 시리즈 발행 수정 모달 구현
  newbit-frontend/package-lock.json
  newbit-frontend/package.json
  newbit-frontend/src/features/column/components/SeriesCreateModal.vue
  newbit-frontend/src/features/column/components/SeriesEditModal.vue
  newbit-frontend/src/features/column/views/SeriesListView.vue
Labels: feat

#711 Nbt 305 fe 알림 드롭다운 생성
  newbit-frontend/src/components/common/Header.vue
  newbit-frontend/src/features/notification/components/NotificationDropdown.vue
  newbit-frontend/src/features/notification/components/NotificationItem.vue
Labels: feat

#725 Nbt 404 fe 회원 탈퇴 api 연결
  newbit-frontend/src/api/user.js
  newbit-frontend/src/features/mypage/views/AccountDeleteView.vue
Labels: feat

#727 Nbt 403 fe 회원 정보 수정 api 연결
  newbit-frontend/src/api/user.js
  newbit-frontend/src/features/mypage/views/AccountEditView.vue
Labels: feat

#729 Nbt 349 fe 시리즈 상세 조회 페이지 구현
  newbit-frontend/src/features/column/components/SeriesEditModal.vue
  newbit-frontend/src/features/column/router.js
  newbit-frontend/src/features/column/views/SeriesDetailView.vue
Labels: feat

#735 Nbt 420 fe 유저 프로필 수정 api 연결
  newbit-frontend/src/features/mypage/components/MyProfileEditForm.vue
  newbit-frontend/src/features/mypage/views/MyProfileEditView.vue
Labels: feat

#740 Nbt 405 fe 구매한 칼럼 조회 api 연결
  newbit-frontend/src/api/purchase.js
  newbit-frontend/src/features/mypage/views/PurchasedColumnsView.vue
Labels: feat

#747 [NBT-360] [FE] 멘티 리뷰 작성 페이지 생성
  newbit-frontend/src/features/coffeechat/views/CoffeechatRegisterView.vue
  newbit-frontend/src/features/mypage/components/RegisterReviewForm.vue
  newbit-frontend/src/features/mypage/views/CoffeechatDetailMenteeView.vue
  newbit-frontend/src/features/mypage/views/ReviewRegisterView.vue
Labels: feat

#750 Nbt 425 be 작성한 칼럼 조회 api 수정
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/dto/response/GetMyColumnListResponseDto.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/mapper/ColumnMapper.java
Labels: feat

#751 Nbt 418 fe 칼럼 목록 조회 api 연동
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/controller/ColumnImageController.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/controller/SeriesImageController.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/domain/Column.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/dto/response/GetColumnListResponseDto.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/repository/ColumnRepository.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/service/ColumnService.java
  newbit-frontend/src/api/column.js
  newbit-frontend/src/features/column/components/ColumnCard.vue
  newbit-frontend/src/features/column/views/ColumnListView.vue
Labels: feat

#754 [FE] NBT-353 작성한 칼럼 페이지 구현
  newbit-frontend/src/features/column/components/ColumnCard.vue
  newbit-frontend/src/features/mypage/views/MyColumnsView.vue
Labels: feat

#773 Nbt 426 fe 칼럼 상세 조회 api 연동
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/dto/response/GetColumnDetailResponseDto.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/repository/ColumnRepository.java
  newbit-frontend/src/features/column/components/ColumnCard.vue
  newbit-frontend/src/features/column/views/ColumnDetailView.vue
Labels: feat

#782 Nbt 399 fe 알림 관련 api 연동
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/common/exception/GlobalExceptionHandler.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/notification/command/application/controller/NotificationCommandController.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/notification/command/domain/repository/NotificationRepository.java
  newbit-frontend/package-lock.json
  newbit-frontend/package.json
  newbit-frontend/src/App.vue
  newbit-frontend/src/api/notification.js
  newbit-frontend/src/features/notification/components/NotificationDropdown.vue
  newbit-frontend/src/features/stores/notification.js
  newbit-gateway/src/main/resources/application.yml
Labels: feat

#785 Nbt 440 fe 프로필 드롭다운 수정
  newbit-frontend/src/assets/image/point-icon.png
  newbit-frontend/src/components/common/Header.vue
  newbit-frontend/src/components/common/ProfileDropdown.vue
  newbit-frontend/src/features/mypage/views/DiamondHistoryView.vue
  newbit-frontend/src/features/mypage/views/MonthlySettlementHistoryView.vue
  newbit-frontend/src/features/mypage/views/PointHistoryView.vue
  newbit-frontend/src/features/mypage/views/PurchaseHistory.vue
  newbit-frontend/src/features/mypage/views/PurchasedColumnsView.vue
  newbit-frontend/src/features/mypage/views/SaleHistoryView.vue
  newbit-frontend/src/features/stores/auth.js
  newbit-gateway/src/main/resources/application.yml
Labels: feat

#786 Nbt 444 fe 칼럼 등록 요청 api 연동
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/domain/Column.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/service/ColumnRequestService.java
  newbit-frontend/src/features/column/components/ColumnCard.vue
  newbit-frontend/src/features/column/views/ColumnRequestView.vue
Labels: feat

#794 Nbt 449 be 시리즈 목록 조회 dto 생성 및 mentor nickname 필드 수정
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/controller/ColumnRequestController.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/controller/SeriesController.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/domain/Series.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/dto/response/GetSeriesListResponseDto.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/repository/ColumnRequestRepository.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/repository/SeriesRepository.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/service/ColumnRequestService.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/service/SeriesService.java
  newbit-frontend/src/api/column.js
  newbit-frontend/src/features/mypage/views/ColumnRequestHistoryView.vue
Labels: feat, fix

#801 Nbt 445 fe 칼럼 수정 요청 api 연동
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/controller/ColumnRequestController.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/domain/Column.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/service/ColumnRequestService.java
  newbit-frontend/src/features/column/views/ColumnEditRequestView.vue
  newbit-frontend/src/features/column/views/ColumnListView.vue
Labels: feat, fix

#806 Nbt 454 be 포인트 다이아 잔여랑 조회 api 추가, 드롭다운에 현재 잔여량 반영
  newbit-frontend/src/api/user.js
  newbit-frontend/src/components/common/ProfileDropdown.vue
  newbit-frontend/src/features/stores/auth.js
  newbit-user-service/src/main/java/com/newbit/newbituserservice/user/controller/UserInfoController.java
  newbit-user-service/src/main/java/com/newbit/newbituserservice/user/dto/response/BalanceDTO.java
  newbit-user-service/src/main/java/com/newbit/newbituserservice/user/service/UserInfoService.java
Labels: feat

#818 Nbt 381 fe 구독한 시리즈, 좋아요한 컨텐츠 페이지 구현, api 연결
  newbit-frontend/src/api/column.js
  newbit-frontend/src/features/column/components/SeriesCard.vue
  newbit-frontend/src/features/mypage/views/LikedContentsView.vue
  newbit-frontend/src/features/mypage/views/SubscribedSeriesView.vue
Labels: feat

#824 Nbt 459 fe 칼럼 요청 승인 거절 관리자용 페이지 api 연동
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/controller/AdminColumnController.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/dto/response/AdminColumnRequestResponseDto.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/mapper/ColumnMapper.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/service/ColumnRequestService.java
  newbit-frontend/src/api/column.js
  newbit-frontend/src/features/admin/views/ColumnApprovalView.vue
Labels: feat

#828 Nbt 402 fe 작성한 콘텐츠 api 연결
  newbit-frontend/src/features/column/components/ColumnCard.vue
  newbit-frontend/src/features/mypage/views/MyColumnsView.vue
  newbit-frontend/src/features/mypage/views/MyPostsView.vue
  newbit-frontend/src/features/mypage/views/MySeriesView.vue
  newbit-frontend/src/features/mypage/views/PurchasedColumnsView.vue
Labels: feat

#830 Nbt 460 fe 칼럼 요청 승인 거절 상세 페이지 api 연동
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/controller/AdminColumnController.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/dto/response/AdminColumnRequestResponseDto.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/mapper/ColumnMapper.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/service/AdminColumnService.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/service/ColumnRequestService.java
  newbit-frontend/src/api/column.js
  newbit-frontend/src/features/admin/views/ColumnApprovalDetailView.vue
  newbit-frontend/src/features/admin/views/ColumnApprovalView.vue
Labels: feat

#840 Nbt 467 fe 칼럼 구매 구현
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/purchase/command/application/service/CompletePurchaseService.java
  newbit-frontend/src/api/purchase.js
  newbit-frontend/src/features/column/views/ColumnDetailView.vue
Labels: feat

#843 feat: NBT-442 auth.js에서 mentorId로 받아오기
  newbit-frontend/src/features/column/views/ColumnDetailView.vue
Labels: fix

#844 feat: NBT-469 칼럼 상세조회시 예외처리 수정
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/service/ColumnService.java
Labels: fix

#850 feat: NBT-472 시리즈 목록 조회
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/dto/response/GetSeriesListResponseDto.java
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/service/SeriesService.java
  newbit-frontend/src/features/column/components/SeriesCard.vue
  newbit-frontend/src/features/column/views/SeriesListView.vue
Labels: feat

#866 Nbt 476 fe 라우터 가드 설정, 기능 수정, favicon 추가
  newbit-feature-service/src/main/java/com/newbit/newbitfeatureservice/column/service/ColumnService.java
  newbit-frontend/index.html
  newbit-frontend/public/favicon.ico
  newbit-frontend/src/api/column.js
  newbit-frontend/src/features/coffeechat/router.js
  newbit-frontend/src/features/column/router.js
  newbit-frontend/src/features/mypage/router.js
  newbit-frontend/src/features/post/router.js
Labels: feat
